@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(55, 55, 55);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: rgb(35, 35, 35);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(55, 55, 55);
    border-radius: 14px;
    border: 3px solid #fff;
}

@layer components {
    .inputWrapper {
        @apply flex justify-center w-full text-white px-5 py-3 rounded-sm bg-primaryBlack focus-within:ring-1 ring-red-600;
    }

    .buttonBase {
        @apply text-white outline-none border-none bg-red-600 w-full px-5 py-1 rounded-xl  hover:-translate-y-1 transition duration-150 ease-in cursor-pointer flex justify-center items-center;
    }

    .navButton {
        @apply px-3 py-2 border border-blue-600 rounded-sm text-blue-600 outline-none hover:-translate-y-2 transition duration-100 ease-linear;
    }
}
